
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@500&display=swap');

/* section 
{
            width: 40%;
            padding: 30px;
            margin: 0 auto;
            margin-top:200px;
            background-color: pink;
            border-radius: 12px;
        } */


        :root {
            --accent: #FFB800;
            --dark: #1E2730;
            --darker: #1D252D;
            --white: #ffffff;
        }
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-weight: 500;
            font-family: 'Sofia Sans', sans-serif;
            color: var(--accent);
            background-color: var(--dark);
            font-size: 18px;
        }

        .nav {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--darker);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            width: 100%;
        }

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(100vw - 60px);
        }
        
        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 60px;
        }
        
        .logout {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 31px;
            text-decoration: none;
            color: var(--accent);
            width: 29px;
            height: 29px;
        }

        h1{
            color: var(--white);
            font-size: 2rem;
            font-weight: normal;
            display: flex;
            justify-content: center;
            margin: 0.5rem;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        h1:before {
            content: attr(data-content);
            display: flex;
            justify-content: center;
            top: 0;
            left: 0;
            font-size: 2rem;
            overflow: hidden;
            color: var(--accent);
        }

        h2{
            color: var(--dark);
            font-weight: 500;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-size: 1.4em
        }

        .card{
            display: flex;
            justify-content: center;
            margin: 20px 0%;
        }

        .Schedule{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            background-color: var(--accent);
            border: 3px solid var(--white);
            border-radius: 16px;
            cursor: pointer;
            flex-grow: 1;
            max-width: 600px;
        }

        .Stats {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            background-color: var(--accent);
            border: 3px solid var(--white);
            border-radius: 16px;
            cursor: pointer;
            flex-grow: 1;
            max-width: 600px;
        }

        .ubercard{
            margin-left: auto;
            margin-right: auto;
            width: 330px;
            padding-top: 10px;
            height: 695px;
        }

        table{
            width: 100%;
            color: var(--dark);
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-top: 3px solid var(--white);
            border-bottom: none;
        }

        .topstat {
            border-top: 3px solid var(--white);
        }

        .bottomstat {
            border-bottom: none;
        }

        .button {
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            background-color: var(--accent);
            border: 3px solid var(--white);
            border-radius: 16px;
            color: var(--dark);
            font-weight: 500;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            font-size: 1.5em;
            cursor: pointer;
            flex-grow: 1;
            max-width: 600px;
        }

        .deletebutton{
            width: 29px;
            height: 29px;
            background-color: transparent;
            border: none;
        }

         /* The alert message box */
        .alert {
            padding: 20px;
            background-color: #f44336; /* Red */
            color: white;
            margin-bottom: 15px;
            width: 330px;
            margin-left: auto;
            margin-right: auto;
        }
        
        /* The close button */
        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }
        
        /* When moving the mouse over the close button */
        .closebtn:hover {
            color: black;
        }

        .dule{
            display: flex;
            width: 100%;
        }
        
        .scheds{
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(100% - 20px);
        }
        
        .schema{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 20px;
        }
        
        .menu{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 10px;
            height:20px;
            width: 20px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
        